extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Loc8r was created to help people find places to sit down and get a bit of work done.
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque a nisl id imperdiet. Sed erat purus, condimentum ac
        | elit in, vehicula dictum sapien. Pellentesque ut lacus non sapien pulvinar gravida non sit amet nunc. Vivamus hendrerit libero id
        | felis feugiat fringilla. Morbi nec nibh erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        | himenaeos. Integer maximus accumsan nisl vitae lobortis.
        | <br /><br />
        | Phasellus varius tincidunt efficitur. Mauris pulvinar nulla orci, a convallis ante iaculis ut. Sed gravida ipsum in erat ornare, eget
        | pretium tellus maximus. Aenean elementum neque in urna dapibus, eu placerat felis pretium. Quisque nulla ligula, accumsan id
        | diam eu, dictum aliquam erat. Nam erat nisl, ultrices sit amet aliquam at, interdum a ipsum. Nam vel felis arcu. Nulla facilisi. Sed
        | scelerisque est ac feugiat sollicitudin. Cras cursus vulputate neque, in fringilla orci tristique eget. Donec rhoncus consectetur
        | quam, ac pretium mi viverra vitae. Aenean ipsum lectus, vestibulum sed enim ut, ullamcorper feugiat lacus. Ut ac velit rutrum,
        | sagittis dolor sed, vehicula lacus. Vestibulum euismod lacinia eros, vehicula semper odio consectetur at. Interdum et malesuada
        | fames ac ante ipsum primis in faucibus. Integer turpis odio, commodo sit amet tincidunt vel, mollis id velit.
        
